/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 25px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.profile-image {
    height: 20px;
    margin-right: 10px;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #212240;
    font-family: 'CabifyCircularWeb','Avenir','Avenir Next','Segoe UI','sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    background: #f2f2f2
}


@font-face {
    font-family: "CabifyCircularWeb";
    src: url(/fonts/CabifyCircularWeb-Book.eot);
    src: url(/fonts/CabifyCircularWeb-Book.eot?#iefix) format("embedded-opentype"),url(/fonts/CabifyCircularWeb-Book.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    -ms-font-feature-settings: "1" 1,"0" 0,"1" 1;
    -o-font-feature-settings: "1" 1,"0" 0,"1" 1;
    font-feature-settings: "1" 1,"0" 0,"1" 1
}

@font-face {
    font-family: "CabifyCircularWeb";
    src: url(/fonts/CabifyCircularWeb-Bold.eot);
    src: url(/fonts/CabifyCircularWeb-Bold.eot?#iefix) format("embedded-opentype"),url(/fonts/CabifyCircularWeb-Bold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    -ms-font-feature-settings: "1" 1,"0" 0,"1" 1;
    -o-font-feature-settings: "1" 1,"0" 0,"1" 1;
    font-feature-settings: "1" 1,"0" 0,"1" 1
}

@font-face {
    font-family: "CabifyCircularWeb";
    src: url(/fonts/CabifyCircularWeb-Light.eot);
    src: url(/fonts/CabifyCircularWeb-Light.eot?#iefix) format("embedded-opentype"),url(/fonts/CabifyCircularWeb-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    -ms-font-feature-settings: "1" 1,"0" 0,"1" 1;
    -o-font-feature-settings: "1" 1,"0" 0,"1" 1;
    font-feature-settings: "1" 1,"0" 0,"1" 1
}

.cartTotal {
    padding-top: 8px;
}